.bag{
    width: 100%;
    max-width:1250px;
    text-align: center;
}

table img{
    width: 100%;
}

.bag__item  td{
    padding-top: 10px !important;
    padding-bottom: 0 !important;
}

.bag__product-info{
    text-align: left;
}

.btn.text__white {
    background-color: black;
}

.qty_input{
    text-align: center;
}

.update-link,
.remove-item{
    cursor:pointer;
}

.update-link{
    margin-right: 15px;
}

.remove-item{
    margin-left: 15px;
}

.keep-shopping{
    background-color: black;
}

.checkout__btn{
    border: 1px solid black;
    padding: 6px 12px;
    margin-top: 4px;
    border-radius: 0;
}