.bag{
    width: 100%;
    max-width:1250px;
    text-align: center;
}

.product__image{
    width: 100%;
    aspect-ratio: 0.72;
    object-fit: cover;
}

.bag__item  td{
    padding-top: 10px !important;
    padding-bottom: 0 !important;
}

.bag__product-info{
    text-align: left;
}

.btn.text__white {
    background-color: black;
}

.qty_input{
    text-align: center;
}

.update-link,
.remove-item,
.btt-link{
    cursor:pointer;
}

.update-link{
    margin-right: 15px;
}

.remove-item{
    margin-left: 15px;
}

.keep-shopping{
    background-color: black;
}

.checkout__btn{
    border: 1px solid black;
    padding: 6px 12px;
    margin-top: 4px;
    border-radius: 0;
}

.btt-button{
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    background-color: #69b64f;
    z-index: 10;
}

.update-link, .remove-link{
    font-size:18px;
}

.text-info{
    color: blue !important;
}
