{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block extra_title %}
  - Set Password
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid fix__position">
        <h1>{% trans "Set Password" %}</h1>

        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="action" value="{% trans 'Set Password' %}" />
        </form>
    </div>
</main>
{% endblock %}
