<div class="product__card">
    <div class="product__image-container">
        {%if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.title }}">
        {% else %}
            <img src="/media/no-image.jpg" alt="{{ product.title }}">
        {% endif %}
    </div>
    <a href="#" title="{{ product.title }}" class="product__text text__black">
        <h2 class="product__title text__captal">{{ product.title }}</h2>
        <p class="product__calories">{{product.calories}} cal</p>
        <p class="product__price">${{product.price}}</p>
    </a>
</div>