#profile-update-form{
    margin-bottom: 10px;
}

.page__header{
    text-align: center;
}

.form-group{
    margin-bottom:10px;
    color: #000;
    border: 1px solid #000;
}

.update__btn{
    background-color: black;
}

#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

.order-history{
    max-height: 392px;
    overflow: auto;
}
