/* TEXT COLOR */
.text__orange{
    color: orange !important;
}

.text__green{
    color:#538f3f !important;
}

.text__black{
    color:black !important;
}

.text__white{
    color:white !important;
}

/* FONT WEIGHT */
.text__bold{
    font-weight: bold;
}

/* TEXT TRANSFORM */
.text__upper{
    text-transform: uppercase;
}

.text__captal{
    text-transform: capitalize;
}

/* POSITION */
.fix__position{
    margin-top:138px;
}

@media only screen and (min-width:768px){
    .fix__position{
        margin-top:80px;
    }
}

@media only screen and (min-width:992px){
    .fix__position{
        margin-top:112px;
    }
}

/* HEADER  AND NAVIGATION */
#d__header{
    max-width: 1440px;
    margin: 0 auto;
}

.navbar .mobile__only{
    margin:0 auto;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo__img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.logo__text{
    font-size: 32px;
}

.navbar-light .navbar-toggler{
    border-color: #538f3f;
    color: #538f3f;
}

.mobile__icon{
    padding:0;
}

.mobile__icon .nav-link{
    padding-left: 0;
}

.mobile__icon .nav-link.bag__icon{
    padding-left: 0.5rem;
}

@media only screen and (min-width:768px){
    .logo__img{
        width: 40px;
        height: 40px;
    }
}

@media only screen and (min-width:992px){
    .mobile__only{
        display:none;
    }

    .navbar{
        background-color:#69b64f;
        padding-top: 0;
        padding-bottom: 0;
    }
}

/* Bootstrap Toasts */

.message-container {
    position: fixed;
    top: 72px;
    left: 40px;
    z-index: 99999999999;
    max-width: 90%;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* MAIN */
main{
    min-height: calc(100vh - 194px);;
}

@media only screen and (min-width:768px){
    main{
        min-height: calc(100vh - 136px);
    }
}

@media only screen and (min-width:992px){
    main{
        min-height: calc(100vh - 168px);
    }
}

/* FOOTER */
.footer{
    background-color: #ffa500;
}