<footer class="footer container-fluid mt-auto py-1 bg-gradient">
    <div class="footer__inner" style="width: 100%;max-width:800px; margin:0 auto;">
        <div class="row">
            <div class="col-12 col-md-6" style="display: flex; flex-direction: column; justify-content: center;">
                <p class="m-0 text-center text-white">Made by Arthur Martins</p>
                <p class="m-0 text-center">
                    <a class="social-btn text-white" href="https://github.com/" target='_blank' rel="noopener"
                        aria-label="Visit my Github page"><i class="fab fa-github"></i></a>
                    <a class="social-btn  text-white" href="https://www.facebook.com/Fit-At-Home-104447422230293"
                        target='_blank' rel="noopener" aria-label="Visit my Facebook page"><i
                            class="fab fa-facebook ms-3"></i></a>
                    <a class="social-btn text-white" href="https://twitter.com/" target='_blank' rel="noopener"
                        aria-label="Visit my Twitter page"><i class="fab fa-twitter ms-3"></i></a>
                    <a class="social-btn text-white" href="https://www.instagram.com/" target='_blank' rel="noopener"
                        aria-label="Visit my Instagram page"><i class="fab fa-instagram ms-3"></i></a>
                </p>
                <p class="m-0 text-center text-white"><a class='social-btn text-white' href="https://www.privacypolicygenerator.info/live.php?token=g7nNWGm35To6Xk7Sbdvi427SvOlbvlgG" target="_blank">Privacy Policy</a></p>
            </div>

            <div class="col-12 col-md-6" style="display: flex; justify-content: center;">
                <!-- Begin Mailchimp Signup Form -->
                <div id="mc_embed_signup">
                    <form
                        action="https://gmail.us14.list-manage.com/subscribe/post?u=60ea7e1d199a4f6a073c3d221&amp;id=c15cac8fa8"
                        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                        target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">

                            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                                </label>
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                            </div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                    name="b_60ea7e1d199a4f6a073c3d221_c15cac8fa8" tabindex="-1" value=""></div>
                            <div class="optionalParent">
                                <div class="clear foot">
                                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                        class="button" style="background-color:black">
                                    <p class="brandingLogo"><a href="http://eepurl.com/hYuD7P"
                                            title="Mailchimp - email marketing made easy and fun"><img
                                                src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg" alt="mailchimp logo"></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!--End mc_embed_signup-->
            </div>
        </div>
    </div>
</footer>