<div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="font-weight-bold nav-link text__black text__bold text__upper me-5" href="{% url 'home' %}">
                Home
            </a>
        </li>
        
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text__black text__bold text__upper me-5" id='all-products-link' data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=collection&direction=asc" class="dropdown-item ">By Collection</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text__black text__bold text__upper me-5" id='collections-link' data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                Collections
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="collections-link">
                <a href="{% url 'products' %}?collection=appetizer" class="dropdown-item">Appetizer</a>
                <a href="{% url 'products' %}?collection=main_beef" class="dropdown-item">Beef</a>
                <a href="{% url 'products' %}?collection=main_chicken" class="dropdown-item">Chicken</a>
                <a href="{% url 'products' %}?collection=main_fish" class="dropdown-item">Fish</a>
                <a href="{% url 'products' %}?collection=main_pork" class="dropdown-item">Pork</a>
                <a href="{% url 'products' %}?collection=main_vegan" class="dropdown-item">Vegan</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link text__black text__bold text__upper me-5" href="{% url 'blog' %}">
                Blogs
            </a>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link text__black text__bold text__upper me-5" href="#">
                Help
            </a>
        </li>
    </ul>
</div>