<div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text__black text__bold text__upper me-5" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="#" class="dropdown-item">By Price</a>
                <a href="#" class="dropdown-item ">By Collection</a>
                <a href="#" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text__black text__bold text__upper me-5" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                Collections
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="collections-link">
                <a href="#" class="dropdown-item">Appetizer</a>
                <a href="#" class="dropdown-item">Beef</a>
                <a href="#" class="dropdown-item">Chicken</a>
                <a href="#" class="dropdown-item">Fish</a>
                <a href="#" class="dropdown-item">Pork</a>
                <a href="#" class="dropdown-item">Vegan</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link text__black text__bold text__upper me-5" href="#">
                Blogs
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text__black text__bold text__upper" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                Help
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="help-link">
                <a href="#" class="dropdown-item">Instructions</a>
                <a href="#" class="dropdown-item">Contact Us</a>
            </div>
        </li>
    </ul>
</div>