{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/blog/blog.css' %}">
{% endblock %}

{% block extra_title %}
    - Blog Posts
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid fix__position posts__container">
        <h1 class="text__captal page__header text__orange">
            Blog Posts
        </h1>
        <div class="row">

        </div>
        <div class="posts__grid container">
            <div class="row">
                {% for post in posts %}
                    {% if request.user.is_superuser and post.status == 0%}
                        <div class="col-6 col-md-4 col-lg-3 draft__opacity">
                            {% include 'blog/includes/post-card.html'%}
                        </div>
                    {% endif %}
                    {% if post.status == 1%}
                        <div class="col-6 col-md-4 col-lg-3 ">
                            {% include 'blog/includes/post-card.html'%}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
{% endblock %}