{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/blog/blog.css' %}">
{% endblock %}

{% block extra_title %}
    - Blog Posts
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid fix__position posts__container">
        <h1 class="text__captal page__header text__orange">
            Blog Posts
        </h1>

        <div class="posts__grid container">
            <div class="row">
                <div class="col-6">
                    <div class="sort-select-wrapper w-50 posts__filter">
                        <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="title_asc" {% if current_sorting == 'title_asc' %}selected{% endif %}>Title (A-Z)</option>
                            <option value="title_desc" {% if current_sorting == 'title_desc' %}selected{% endif %}>Title (Z-A)</option>
                        </select>
                    </div>
                </div>
                <div class="col-6"></div>
            </div>

            <div class="row">
                {% for post in posts %}
                    {% if request.user.is_superuser and post.status == 0%}
                        <div class="col-6 col-md-4 col-lg-3 draft__opacity">
                            {% include 'blog/includes/post-card.html'%}
                        </div>
                    {% endif %}
                    {% if post.status == 1%}
                        <div class="col-6 col-md-4 col-lg-3 ">
                            {% include 'blog/includes/post-card.html'%}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}

    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}