{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/blog/blog.css' %}">
{% endblock %}

{% block extra_title %}
    - {{ post.title }}
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid fix__position specific-post__outer-container">
        <div class="specific-post__inner-container">
            <div class="row specific-post__header-container">
                <div class="specific-post__image-container">
                    <div class="specific-post__image">
                        {%if post.featured_image %}
                            <img src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                        {% else %}
                            <img src="{{ MEDIA_URL }}blog_image.jpg" alt="{{ post.title }}">
                        {% endif %}
                    </div>
                </div>
                <div class="specific-post__title-container">
                    <div class="specific-post__title">
                        <h1 class="text__captal">{{post.title}}</h1>
                    </div>
                </div>
            </div>

            <div class="row specific-post__info-container">
                <div class="col-12 col-sm-6 text__captal specific-post__author"><strong>Author</strong>: {{ post.author }}</div>
                <div class="col-12 col-sm-6 specific-post__published"><strong>Published</strong>: {{ post.created_on }}</div>
            </div>

            <div class="row post__content-container">
                {{ post.content | safe }}
            </div>
            
            <hr class="break__line text__orange">

            <div class="container comment_container">
                <div class="customer__comments">
                    {% if comments %}
                        <h3 class="comment__title"><span class='text__captal'>{{post.title}}</span> - Comments</h3>
                            {% for comment in comments %}
                                {% if forloop.counter|divisibleby:2 %}
                                    <div class="row comment">
                                {% else %}
                                    <div class="row comment comment__orange-bg">
                                {% endif %}
                                        {% include 'blog/includes/comment-content.html'%}
                                    </div>
                            {% endfor %}
                    {% else %}
                        <h3 class="comment__title">This blog post has no comments</h3>
                    {% endif %}
                </div>

                <div class="form__comment">
                    {% if commented %}
                        <p>Comment Submitted.</p>
                    {% else %}
                        {% if request.user.is_authenticated %}
                            <form action="" method="POST">
                                {% csrf_token%}
    
                                {{ comment_form.as_p }}
                                <input type="submit" value="Submit" class="btn text__bold text__white keep-shopping rounded-0 mt-1">
                            </form>
                        {% else %}
                            <p>Sorry, but you need to be registered to leave a comment. <a href="{% url 'account_signup' %}" title='Sign up page'>Sign up here</a>.</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}