{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/products/products.css' %}">
{% endblock %}

{% block extra_title %}
    - Edit Product
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid fix__position products__container">
        <h1 class="text__captal page__header text__orange">
            Edit Product
        </h1>

        <div class="row create__form">
            <div class="col-12 col-md-6">
                <form method="POST" action="#" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="btn text__bold text__white keep-shopping rounded-0 mt-1" href="{% url 'products' %}">Cancel</a>
                        <button class="btn text__bold text__white keep-shopping rounded-0 mt-1" type="submit">Edit Product</button>
                        <a class="btn text__bold text__white keep-shopping rounded-0 mt-1" style='background-color:red' href="{% url 'delete_product' product.id %}">Delete Product</a>
                    </div>
                </form>
            </div>            
        </div>
    </div>
</main>
{% endblock %}