{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/products/products.css' %}">
{% endblock %}

{% block extra_title %}

{% endblock %}

{% block content %}
<main>
    <div class="container fix__position">
        <div class="row specific__product-container">
            <div class="col-12 col-sm-6 specific__img-container">
                {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="/media/no-image.jpg" alt="{{ product.name }}">
                    </a>
                {% endif %}
            </div>
            <div class="col-12 col-sm-6 specific__text-container">
                <h2 class="specific__product-title text__captal text__green">{{ product.title }}</h2>
                <p class="specific__product-calories">{{ product.calories }} cal</p>
                <p class="specific__product-price">${{ product.price }}</p>
                {% if product.collection %}
                    <a class="specific__product-collection text__orange" href="{% url 'products' %}?collection={{ product.collection.name }}" title="{{ product.collection.friendly_name }} page">
                        <i class="fas fa-tag mr-1"></i> {{ product.collection.friendly_name }}
                    </a>
                {% endif %}
                <p class="specific__product-description">{{product.description}}</p>

                <form class='specific__form'action="#" method="POST">
                    {% csrf_token %}
                    <div class="row specific__form-row">

                        <div class="col-12">
                            <p><strong>Quantity:</strong></p>
                            <div class="form-group w-sm-50">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn text__white rounded-0"
                                            data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input" type="number" name="quantity" value="1"
                                        min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn text__white rounded-0"
                                            data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col form__submit-btns">
                            <div class="row mt-4 w-sm-50">
                                <div class="col-6">
                                    <input id='bag' type="submit" class="btn text__white text__bold bag rounded-0 text-uppercase"
                                        value="Add to Bag">
                                </div>
                                <div class="col-6">
                                    <input type="submit" class="btn text__bold text__white checkout rounded-0 text-uppercase"
                                        value="Checkout">
                                </div>
                                <div class="col">
                                    <a href="{% url 'products' %}" class="btn text__bold text__white keep-shopping rounded-0 mt-1">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
        
        <hr class="break__line text__orange">

        <div class="container review__container">
            <div class="customer__reviews">
                {% if reviews %}
                    <h3 class="review__title">{{product.title}} - Reviews</h3>
                        {% for review in reviews %}
                            {% if review.approved%}
                                {% if forloop.counter|divisibleby:2 %}
                                    <div class="row review">
                                 {% else %}
                                    <div class="row review review__orange-bg">
                                {% endif %}
                                        {% include 'products/includes/review-content.html'%}
                                    </div>
                            {% endif %}
                        {% endfor %}
                {% else %}
                    <h3 class="review__title">This Product Has No Reviews</h3>
                {% endif %}
            </div>


            <div class="form__review">
                {% if reviewed %}
                    <p>Review Submitted. Your review will be verified before approval.</p>
                {% else %}
                    {% if request.user.is_authenticated %}
                        <form action="" method="POST">
                            {% csrf_token%}

                            {{ review_form.as_p }}
                            <input type="submit" value="Submit" class="btn text__bold text__white keep-shopping rounded-0 mt-1">
                        </form>
                    {% else %}
                        <p>Sorry, but you need to be registered to give us a review. <a href="{% url 'account_signup' %}" title='Sign up page'>Sign up here</a>.</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
</main>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}